@media (max-width: 1366px) {
  .container {
      width: 1150px;
  }
}

@media (max-width: 1200px) {
  .container {
      width: 860px;
  }
  .cards{
    justify-content: center;
    align-items: flex-start;
    flex-basis: content;
  }
  .buy{
    font-weight: bold;
    font-size: 200px;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  .container {
      width: 750px;
  }
  
  .header{
    background-size: contain; 
  }

  
  .header-menu{
    flex-direction: column;
    align-items: center;
    
  }
  .logo{
    margin-bottom: 30px;
  }
}