*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
header{
  width: 100%;
}
.container{
  margin: auto;
  max-width: 1200px;
}
.header{
  background-image: url(../img/main-BG.png);
  background-size: cover;
  background-position: center center;
}
.header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}


.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.menu_tab{
  padding-right: 70px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.menu_tab:hover{
  font-weight: bold;
  text-decoration: underline;
}
.phone-number{
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  color: #fff;
  display: block;
}
.phone-number:hover{
  color: #6EBBD3;
}
.phone span{
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
  
}
.cats_founded{
  display: flex;
  font-size: 28px;
  line-height: 46px;
  font-weight: 700;
  color: #fff;
  margin-top: 75px;
  padding-bottom: 70px;

}
.sorting-block{
  margin-top: 37px;
}
.sorting-block select{
  display: inline-block;
  border: none;
  outline: none;
  margin-left: 48px;
}
.sorting-block select:last-child{
  padding-right: 20px;
}

.sorting{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 38px;
}
.card{
  position: relative;
  background-color: #F3F3F3;
  margin-bottom: 27px;
}
.like{
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 32px;
  cursor: pointer;
}
.choose path{
  fill:white;
  fill-opacity: 1;
  stroke:inherit;
  stroke-width:inherit;
  }
.like path:hover{
  fill: white;
  fill-opacity: 1
}

.discount{
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 250px;
  padding: 10px 15px;
  background: #E62D2D;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  
}
.card-text{
  margin: 20px;
}
.card-heading__title{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.card-text__description{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.card-text__description::before{
  content:"";
  width: 4px;
  height: 26px; 
  background: #6EBBD3;

}

.description-info{
  display: flex;
  font-size: 12px;
  line-height: 15px;
}
.card-text__price{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-top: 22px;
}
.card-text__buy{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #6EBBD3;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 0 0 8px 8px;
}
.card-text__sold{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 0 0 8px 8px;
}
.show-more{
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  width: 380px;
  margin: 0 auto;
  margin-top: 70px;
  color: #000000;
  border: 1px solid #CACACA;
  border-radius: 10px;
  padding: 24px 0;
}
.show-more:hover{
  font-size: 20px;
  transition: 1s;
}
.up-to{
  display: none;
  position: fixed;
  top: 200px;
  left: 1300px;
  width: 59px;
  height: 59px;
  background-color: #6EBBD3;
}
.up-to svg{
  position: absolute;
  
  top: 20px;
  right: 20px;
}
.footer{
  background-color: #1F2021;
  margin-top: 80px;
  margin-bottom: 100px;
  
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 91px 80px;
}
.buy{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}
.hurry-info{
  display: inline-block;
  margin-top: 25px;
  font-size: 28px;
  line-height: 25px;
  
}
  

.footer-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email{
  width: 300px;
  padding: 22px 0 26px 33px;
  font-size: 14px;
  line-height: 17px;
  border: none; 
  outline: none;
  border-radius: 8px;
}
.submit{
  padding: 22px 75px 26px 75px;
  margin-left: 16px;
  background-color: #6EBBD3;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;  

}
.checkbox{
  margin-top: 24px;
  width: 18px;
  height: 18px;
}
.checkbox-text{
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 22px;
  font-size: 14px;
  line-height: 17px;  
}


@media (max-width: 1366px) {
  .container {
      width: 1150px;
  }
}

@media (max-width: 1200px) {
  .container {
      width: 860px;
  }
  .sorting-block{
    text-align: center;
  }
  .cards{
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .buy{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
  .hurry-info{
    display: inline-block;
    margin-top: 25px;
    font-size: 18px;
    
  }
  .email{
    width: 200px;
  }
  .submit{
    padding: 22px 50px;
  }
}
@media (max-width: 992px) {
  .container {
      width: 750px;
  }
  
  .header{
    background-size: cover contain ; 
    background-repeat: no-repeat;
    
  }

  
  .header-menu{
    flex-direction: column;
    align-items: center;
    
  }
  .menu{
    margin-left: 50px;
  }
  .logo{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .phone{
    margin-top: 30px;
  }
  .phone span{
    justify-content: center;
  }
  .cats_founded{
    justify-content: center;
    font-size: 20px;
  }
  .card{
    width: 300px;
  }
  .card-image{
    width: 300px;
  }
  .footer-content{
    padding: 20px;
  }

}
@media (max-width: 768px) {
  .container {
      max-width: 560px;
  }
  .cards{
    justify-content: center;
  }
  .discount{
    top: 30px;
    right: 200px;
  }
  .show-more{
    width: 170px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .footer-content{
    align-items: center;
  }
  .email-form{
    padding-left: 50px;
  }
  .email{
    padding: 10px;
    width: 150px;
    font-size: 10px;
  }
  .submit{
    padding: 10px;
    font-size: 10px;
  }
  .checkbox{
    margin-top: 24px;
    width: 13px;
    height: 13px;
  }
  .checkbox-text{
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 22px;
    font-size: 12px;
  }
}
@media (max-width: 579px) {
  .container {
      width: 400px;
  }
  .header{
    background: #999999;
  }
  .logo{
    margin-top: 0px;
  }
  .cats_founded{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .discount{
    top: 30px;
    right: 200px;
  }
  
  .footer{
    margin-top: 30px;
  }
  .footer-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email{
    width: 150px;
  }
  .submit{
    width: 150px;
    margin-left: 0;
    margin-top: 10px;
  }
  .checkbox-text{
    top: -21px;
  }
}
@media (max-width: 480px){
  .container{
    width: 90%;
  }
  .menu{
    display: none;
  }
  .menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cats_founded{
    font-size: 12px;
  }
  
  
  .sorting{
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
  .sorting-block select{
    margin-left: 5px;
  }
  
  .footer-content{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .email-form{
    padding-top: 20px;
    margin-left: -40px;
  }
  
  .checkbox-text{
    top: -3px;
  }
}



